<nav class="navbar">
  <div class="container nav-container">
    <a routerLink="/" class="brand">Creatures App</a>
    <ul class="nav-links">
      <li><a routerLink="/creatures" routerLinkActive="active">Lények</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Kapcsolat</a></li>
      <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login" routerLinkActive="active">Bejelentkezés</a></li>
      <li *ngIf="authService.isLoggedIn()"><a (click)="logout()" class="logout-btn">Kijelentkezés</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
